$color-gray-100: #706c62;
$color-gray-200: #615d54;
$color-gray-300: #55524a;
$color-gray-400: #4d4a43;
$color-gray-500: #42403b;
$color-gray-600: #312f2b;
$color-gray-700: #252320;
$color-gray-800: #201e1c;
$color-gray-900: #1a1816;
$color-gray-1000: #0e0d0c;

$content-width: 1300px;

$primary: #b11e11;

@keyframes pulse {
    0% {
        opacity: .75;
        transform: translateX(0px);
    }
    45% {
        opacity: 1;
        transform: translateX(12px);
    }
    55% {
        opacity: 1;
        transform: translateX(-2px);
    }
    to {
        opacity: .75;
        transform: translateX(0px);
    }
}
@keyframes pulse2 {
    0% {
        opacity: .75;
        transform: translateX(0px);
    }
    45% {
        opacity: 1;
        transform: translateX(-20px);
    }
    55% {
        opacity: 1;
        transform: translateX(0px);
    }
    77% {
        opacity: .75;
        transform: translateX(20px);
    }
    100% {
        opacity: .75;
        transform: translateX(0px);
    }
}