$content-width: 1300px;
$blog-content-width: 580px;

$primary-color: #b11e11;

@keyframes pulse {
    0% {
        opacity: .75;
        transform: translateX(0px);
    }
    45% {
        opacity: 1;
        transform: translateX(12px);
    }
    55% {
        opacity: 1;
        transform: translateX(-2px);
    }
    to {
        opacity: .75;
        transform: translateX(0px);
    }
}
@keyframes pulse2 {
    0% {
        opacity: .75;
        transform: translateX(0px);
    }
    45% {
        opacity: 1;
        transform: translateX(-20px);
    }
    55% {
        opacity: 1;
        transform: translateX(0px);
    }
    77% {
        opacity: .75;
        transform: translateX(20px);
    }
    100% {
        opacity: .75;
        transform: translateX(0px);
    }
}
@keyframes float {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(10px)
    }
}
@keyframes show {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}