footer.site-footer {
    background-color: #f8f6ee;
    min-height: 120px;
    width: 100%;
    .footer-wrapper {
        max-width: $content-width;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }
}