footer.site-footer {
    background: #080805 url(/img/pixelpattern.svg) repeat-x top left;
    min-height: 120px;
    width: 100%;
    .footer-wrapper {
        max-width: $content-width;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        @media screen and (max-width: #{$content-width + 50px}) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .socials {
            display: inline-block;
            margin-top: 2rem;
            a {
                color: #fff;
                margin-left: 0.75rem;
                margin-right: 0.75rem;
                transition: color 0.15s;
                &:hover {
                    color: $primary-color;
                    transition: color 0.15s;
                }
                &:first-of-type {
                    margin-left: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}