nav.navbar {
    background-color: #fff;
    width: 100%;
    max-width: $content-width;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 20px;
    height: 60px;
    position: fixed;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 1px 1px 5px -3px rgba(0,0,0,0.19);
    z-index: 1;
    border-radius: 0.5rem;
    ul {
        height: 100%;
        display: flex;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 20px;
            padding-right: 20px;
            min-width: 120px;
        }
    }
}